body {
    margin: 0;
    font-family: "Lato", Verdana, Serif;
}


h1 {
    text-align: center;
    font-family: 'Lato', serif;
    font-weight: 700;
    font-size: 2.5em;
    margin: 0;
}

h2 {
    text-align: left;
    font-family: 'Lato', serif;
    font-weight: 700;
    font-size: 1.7em;
    margin: 0;
}

h3 {
    text-align: left;
    font-family: 'Lato', serif;
    font-weight: 400;
    font-size: 1.3em;
    margin: 0;
}

p {
    text-align: left;
    font-family: 'Lato', serif;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}

a {
    color: #c29c6e;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #876d4d;
}

a:active, a:focus {
    color: #c29c6e;
}

.button-default {
    width: 20%;
    border: #742238 solid 2px;
    cursor: pointer;
    background-color: white;
    color: #2f3540;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    text-decoration: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.button-default:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #742238;
    color: white;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/*
==============================================
================= NAVIGATION =================
==============================================
*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 4.5em;
    background-color: #742238;
    z-index: 99999;
}

nav ul li {
    float: left;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

nav ul li:not(:first-child) {
    line-height: 2.5em;
}

nav ul li:nth-child(7) {
    float: right;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 1em;
}

nav ul li a:hover {
    color: white;
}

nav ul li img {
    width: 4em;
    height: auto;
}

nav ul li:hover {
    background-color: #b03456;
    transition: 0.5s;
}

nav ul li.menu-icon {
    display: none;
}

/*
==============================================
==================== HOME ====================
==============================================
*/
.landing-page-img {
    width: 100%;
    height: auto;
    top: 0;
}

.landing-page-logo {
    width: 10em;
    height: auto;
    position: absolute;
    left: calc(50% - 5em);
    top: 5em;
}

.landing-page-header {
    position: absolute;
    width: 99%;
    margin-right: .5%;
    margin-left: .5%;
    top: 3.25em;
}

.landing-page-quote {
    position: absolute;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    top: 10em;
    text-align: center;
    font-size: 1.35em;
}

#home {
    width: 70%;
    margin: 0 15%;
}

/*
==============================================
================== PRODUCT ===================
==============================================
*/
#products {
    padding-top: 2em;
    width: 80%;
    margin: 0 10%;
}

#products h2 {
    text-align: center;
}

#products p {
    width: 90%;
    margin: 0 5%;
}

.product-listing-image {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2.5em;
    width: 90%;
    height: 12em;
}

.button-view-product {
    width: 80%;
    margin: 1em 10%;
    border: #2f3540 solid 2px;
    cursor: pointer;
    background-color: white;
    color: #2f3540;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    text-decoration: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.button-view-product:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #2f3540;
    color: white;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/*
==============================================
============== PRODUCT DETAIL ================
==============================================
*/
#product-detail {
    width: 90%;
    margin: 0 5%;
    padding-top: 2em;
}

.product-detail-image-preview {
    width: 3.2em;
    height: 3.2em;
}

.product-detail-image {
    width: 100%;
    height: auto;
}

.product-detail-content {
    width: 100%;
    padding: 0 1em;
}

.product-detail-content > p {
    padding-bottom: 1em;
}

.product-price {
    font-weight: 700;
    text-align: right;
}

.order-product {
    border: 2px solid gray;
    padding: 1em;
}

.order-product:hover {
    border: 2px solid #2f3540;
}

/*
==============================================
=================== ABOUT ====================
==============================================
*/
#about {
    padding-top: 2em;
    width: 70%;
    margin: 0 15%;
}

.about-navbar {
    text-align: center;
}

#about h3 {
    text-align: center;
    padding-top: 1.5em;
}

.about-navbar h3 {
    margin: .1em 0;
    padding: 0 .1em;
    display: inline-block;
}

#about p {
    padding-top: 1em;
}


/*
==============================================
=================== CART =====================
==============================================
*/
#cart {
    padding-top: 2em;
    width: 70%;
    margin: 0 15%;
}


/*
==============================================
================== RECIPES ===================
==============================================
*/
#recipes {
    padding-top: 2em;
    width: 80%;
    margin: 0 10%;
}

#recipes h2 {
    text-align: center;
}

#recipes p {
    width: 90%;
    margin: 0 5%;
}

/*
==============================================
================== CONTACT ===================
==============================================
*/
#contact {
    padding-top: 2em;
    width: 70%;
    margin: 0 15%;
}

.input-field {
    color: #6b6b6b;
    font-weight:500;
    font-size: 1em;
    background-color: #ededed;
    padding: .7em;
    margin-top: .7em;
    width: 95%;
    margin-right: 5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: .2em solid white;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.input-field:focus, .input-field:hover {
    background-color: #fff;
    box-shadow: none;
    border: .2em solid #2f3540;
    color: #6b6b6b;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.textarea-field {
    color: #6b6b6b;
    font-weight:500;
    font-size: 1em;
    background-color: #ededed;
    padding: .7em;
    width: 95%;
    margin-top: .7em;
    margin-right: 5%;
    height: 6em;
    resize:vertical;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: .2em solid white;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.textarea-field:focus, .textarea-field:hover {
    background-color: #fff;
    box-shadow: none;
    border: .2em solid #2f3540;
    color: #6b6b6b;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.button-submit {
    width: 70%;
    margin: 1em 10%;
    border: #2f3540 solid 2px;
    cursor: pointer;
    background-color: white;
    color: #2f3540;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    text-decoration: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.button-submit:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #2f3540;
    color: white;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.contact-information {
    text-align: left;
    margin-left: 1.4em;
}

.contact-information h3 {
    font-weight: 700;
    color: black;
    margin: 0 auto;
    letter-spacing: 1px;
    padding-bottom: 3px;
    margin-top: .5em;
}

.contact-information p {
    font-weight: 700;
    margin-top:1em;
}

.contact-icon-title {
    vertical-align: .2em;
    margin-left: 5px;
}

.contact-icon-title-email {
    margin-left: 5px;
}

.contact-information-description {
    color: black;
}

/*
==============================================
=================== FOOTER ===================
==============================================
*/
footer {
    position: relative;
    margin-top: 5em;
    padding-top: 1em;
    width: 100%;
    bottom: 0;
}

.footer-top p {
    font-weight: 700;
}

.footer-top {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-top: 2px solid #ededed;
    border-top: 2px solid #ededed;
    background: white;
}

.footer-bottom p {
    text-align: center;
}

.footer-bottom {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background: #ededed;
}

.about-footer h3 {
    font-weight: 700;
}

.about-footer p {
    margin-top: .5em;
    font-weight: 400;
}

.contact-info-footer {
    font-weight: 700;
    margin-top: .75em;
}

.contact-icon-footer {
    margin-left: .5em;
}

.contact-icon-footer-email {
    margin-left: .1em;
}

.footer-section {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
}

.social-media-icons {
    text-align: left;
}

.social-media-icons img {
    margin: .5em .3em;
    cursor: pointer;
    opacity: .5;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.social-media-icons img:hover {
    opacity: 1;
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

/*
==============================================
=============== RESPONSIVENESS ===============
==============================================
*/
@media screen and (max-width:58em) {
    .landing-page-quote {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media screen and (max-width:53.5em) {
    .landing-page-img {
        height: 350px;
    }

    #about {
        width: 90%;
        margin: 0 5%;
    }

    #products {
        width: 90%;
        margin: 0 5%;
    }

    #contact {
        width: 90%;
        margin: 0 5%;
    }

    .footer-section {
        width: 90%;
        margin: 0 5%;
    }
}

@media screen and (max-width: 48.5em) {
    .input-field {
        width: 100%;
        margin: .2em 0;
    }

    .textarea-field {
        width: 100%;
        margin: .2em 0;
    }

    .about-footer {
        margin-top: 1.5em;
    }
}

@media screen and (max-width:42.5em) {
    nav ul li:not(:first-child) {
        display: none;
    }

    nav ul li.menu-icon {
        float: right;
        display: inline-block;
    }

    nav ul.navbar.responsive {
        position: absolute;
        height: auto;
    }

    nav ul.navbar.responsive li.menu-icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    nav ul.navbar.responsive li {
        float: none;
        display: inline;
    }

    nav ul.navbar.responsive li a {
        display: block;
        text-align: center;
    }

    #about h3 {
        padding: .5em;
        margin: 0;
        text-align: center;
        display: block;
    }
}

@media screen and (max-width: 20em) {

}